# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RS-School\my code\brackets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
